<div class="container text-center">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card my-5">
        <div class="card-body">
          <div class="card-body">
            <h5 class="card-title">Connexion</h5>
            <form action="">
              <div class="text-start">
                <label for="email">E-mail</label>
                <input type="text" class="form-control my-2" name="email" id="email"
                  placeholder="Entrez votre e-mail" />
                <label for="email">Mot de passe</label>
                <input type="password" class="form-control my-2" name="password" id="password"
                  placeholder="Entrez votre mot de passe" />
              </div>
              <button class="btn btn-dark btn-block my-2 btn-block" (click)="onClickSignIn()" type="button">Se
                connecter</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
